<!-- This template page will list all the details of the chosen campground. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= identifiedCamp.title %> - Details</title>
</head>
<body>
    <h1><%=identifiedCamp.title%>:</h1>
    <ul>
        <li>
            ID: <%= identifiedCamp._id %>
        </li>
        <li>
            Location: <%= identifiedCamp.location %>
        </li>
    </ul>
    <br>
    <a href="/campgrounds/<%=identifiedCamp._id%>/edit">Edit This Campground</a>
    <br>
    <form action="/campgrounds/<%=identifiedCamp._id%>?_method=delete" method=POST> 
        <!-- Careless Mistake: "<form action="....?_method=delete"", not "<form action="...."?_method=delete".
            Careless Mistake: "<form action="....?_method=delete"", not "<form action="...._method?=delete""
            Note: No difference between "method=POST" and "method="POST"" -->
        <button>Delete this Campground</button>
    </form>
    <br>
    <a href="/campgrounds">Return to Campground Index</a>
</body>
</html>