<!-- This template page will list all the details of the chosen campground. -->

<% layout("layouts/boilerplate_start") %>
    <h1><%=identifiedCamp.title%>:</h1>
    <ul>
        <li>
            ID: <%= identifiedCamp._id %>
        </li>
        <li>
            Location: <%= identifiedCamp.location %>
        </li>
    </ul>
    <br>
    <a href="/campgrounds/<%=identifiedCamp._id%>/edit">Edit This Campground</a>
    <br>
    <form action="/campgrounds/<%=identifiedCamp._id%>?_method=delete" method=POST> 
        <!-- Careless Mistake: "<form action="....?_method=delete"", not "<form action="...."?_method=delete".
            Careless Mistake: "<form action="....?_method=delete"", not "<form action="...._method?=delete""
            Note: No difference between "method=POST" and "method="POST"" -->
        <button>Delete this Campground</button>
    </form>
    <br>
    <a href="/campgrounds">Return to Campground Index</a>
